body {background-color: ivory;

    		}

    	.image1 {
			padding-top: 30px;
    		padding-left: 30px;
    		padding-right: 5px;

    	}

    	.image2 {
			padding-top: 30px;
    		padding-left: 5px;
    		padding-right: 30px;

    	}
    		
  
    	
    	h2 {
    		font-family: cursive;
    		font-size: 34px;
    		align-content: center;
    		color: maroon;
    		padding-top: 0px;
    		padding-left: 30px;
    		padding-right: 50px;
    	}

    	h4 {

    		font-family: Arial, Helvetica, sans-serif;
    		font-size: 20px;
    		padding-left: 30px;
    		color: green;

    	}

    	ul, ol, {

    		font-family: Arial, Helvetica, sans-serif;
    		align-content: left;
    		padding-left: 50px;
    		float: left;

    	}


    	table {

    		font-family: Arial, Helvetica, sans-serif;
    		align-content: left;
    		border: 1px;
    		border-style: solid;
    		border-color: black;
    		
    		padding-left: 50px;
